<mat-toolbar class="w-full elevated py-2">
  <div class="max-w-[1200px] mx-auto w-full flex items-center gap-1 lg:gap-4">
    <div class="flex gap-1 items-center lg:gap-4">
      <button
        matIconButton
        class="flex items-center justify-center h-10 w-10"
        (click)="sidebarService.toggle()"
        aria-label="Toggle menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="flex items-center gap-1" routerLink="./">
        <mat-icon class="!text-blue-800">storefront</mat-icon>
        <span class="hidden sm:inline">Store NG-20</span>
        <span class="inline sm:hidden text-sm hide-title">NG-20</span>
      </span>
    </div>
    <app-header-actions class="ml-auto" />
  </div>
</mat-toolbar>
